/limine
/ovmf
*.iso
*.hdd
src/.vs/slnx.sqlite
src/.vs/src/FileContentIndex/6c6a0407-d217-4b1b-81a3-37b905b5b01d.vsidx
src/.vs/src/FileContentIndex/8190c577-3a77-444a-9d68-e5cdf446808e.vsidx
src/.vs/src/FileContentIndex/8af55529-0ceb-4394-aa4c-6689188cd798.vsidx
src/.vs/src/FileContentIndex/a1c45ae2-5007-42e3-bd42-a6c71e7eb236.vsidx
src/.vs/src/FileContentIndex/b34440fe-75b9-4faf-be44-b38b14205556.vsidx
src/.vs/src/v17/.wsuo
src/.vs/src/v17/Browse.VC.db
src/.vs/src/v17/Browse.VC.db-shm
src/.vs/src/v17/Browse.VC.db-wal
src/.vs/src/v17/Browse.VC.opendb
src/.vs/src/v17/ipch/AutoPCH/f7f966b486301125/MAIN.ipch
src/.vs/src/v17/ipch/AutoPCH/fcac26b35ac9d662/KERNELUTILS.ipch
src/.vs/ProjectSettings.json
src/.vs/VSWorkspaceState.json
